.header {
    grid-row: header-s/header-e;
    grid-column: 1/-1;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: [img-s] 1fr [img-e links-s] 1fr [links-e];

    &__img {
        grid-column: img-s/img-e;
        grid-row: 1/-1;
        transform: translateX(25px)
    }

    &__link {
        grid-column: links-s/links-e;
        grid-row: 1/-1;
        margin-right: 40px;
        
        font-size: 16px;
        color: #333;
    }

}

.green-text {
    color: #00CB79 !important;
}

.navbar {
    grid-row: navbar-s/navbar-e;
    grid-column: 1/-1;
    background: #333;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-right: 50px;

    color: #e6e6e6;
    font-size: 18px;
    font-weight: normal;
}